<div>
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-8 container-theory mt-3">
            <h1 class="text-center">Título del módulo</h1>
            <h4 class="mt-4">Subtítulo</h4>
            <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos rem
                perferendis soluta
                exercitationem adipisci fugiat amet aliquam, enim eum molestias esse reprehenderit fugit pariatur veniam
                blanditiis neque in velit iste? Nisi nesciunt architecto facilis dolorem sapiente aliquid amet
                accusamus, laboriosam praesentium eos itaque labore deserunt veritatis iure, illo ullam numquam,
                corrupti tempore explicabo voluptas. Ipsam earum eaque rem repellat hic quibusdam eos pariatur
                blanditiis tempore? Temporibus ad reiciendis autem molestias esse ex nesciunt aspernatur voluptate
                voluptates quis natus earum, laboriosam neque fugit alias possimus officiis illo facere aliquid
                exercitationem, magnam et iste ut quo! Omnis quam soluta, alias esse unde veritatis voluptatum debitis
                iusto eaque cupiditate neque doloribus cum accusamus minus est dolores nisi id odio repellendus
                obcaecati porro sed earum consectetur. Sequi corporis suscipit magni adipisci optio vitae omnis aliquam
                cumque qui explicabo distinctio aspernatur repellat accusantium molestias porro vel laudantium eaque,
                similique alias. Minima, inventore dolor deserunt natus tenetur vitae quae neque. Dolorem dolores illo
                neque odio cum aperiam, numquam minus doloribus, fugit recusandae quisquam consectetur? Iusto explicabo
                nam, ipsa, provident sunt ipsam voluptatum velit dolore, corrupti nostrum laborum adipisci blanditiis?
                Porro ratione dolor velit voluptas vel. Fugit voluptatum consequatur laborum repellat sapiente harum
                eligendi hic nisi.</p>

            <h4 class="mt-4">Subtítulo</h4>
            <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos rem
                perferendis soluta
                exercitationem adipisci fugiat amet aliquam, enim eum molestias esse reprehenderit fugit pariatur veniam
                blanditiis neque in velit iste? Nisi nesciunt architecto facilis dolorem sapiente aliquid amet
                accusamus, laboriosam praesentium eos itaque labore deserunt veritatis iure, illo ullam numquam,
                corrupti tempore explicabo voluptas. Ipsam earum eaque rem repellat hic quibusdam eos pariatur
                blanditiis tempore? Temporibus ad reiciendis autem molestias esse ex nesciunt aspernatur voluptate
                voluptates quis natus earum, laboriosam neque fugit alias possimus officiis illo facere aliquid
                exercitationem, magnam et iste ut quoi.</p>

            <h4 class="mt-4">Subtítulo</h4>
            <p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos rem
                perferendis soluta
                exercitationem adipisci fugiat amet aliquam, enim eum molestias esse reprehenderit fugit pariatur veniam
                blanditiis neque in velit iste? Nisi nesciunt architecto facilis dolorem sapiente aliquid amet
                accusamus, laboriosam praesentium eos itaque labore deserunt veritatis iure, illo ullam numquam,
                corrupti tempore explicabo voluptas. Ipsam earum eaque rem repellat hic quibusdam eos pariatur
                blanditiis tempore? Temporibus ad reiciendis autem molestias esse ex nesciunt aspernatur voluptate
                voluptates quis natus earum, laboriosam neque fugit alias possimus officiis illo facere aliquid
                exercitationem, magnam et iste ut quo! Omnis quam soluta, alias esse unde veritatis voluptatum debitis
                iusto eaque cupiditate neque doloribus cum accusamus minus est dolores nisi id odio repellendus
                obcaecati porro sed earum consectetur. Sequi corporis suscipit magni adipisci optio vitae omnis aliquam
                cumque qui explicabo distinctio aspernatur repellat accusantium molestias porro vel laudantium eaque,
                similique alias. Minima, inventore dolor deserunt natus tenetur vitae quae neque. Dolorem dolores illo
                neque odio cum aperiam, numquam minus doloribus, fugit recusandae quisquam consectetur? Iusto explicabo
                nam, ipsa, provident sunt ipsam voluptatum velit dolore, corrupti nostrum laborum adipisci blanditiis?
                Porro ratione dolor velit voluptas vel. Fugit voluptatum consequatur laborum repellat sapiente harum
                eligendi hic nisi.</p>
                <br/>
                <br/>
        </div>
    </div>
</div>

<div class="row fixed-bottom">
    <div class="row footer d-flex justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-8">
            <div class="container-buttons d-flex justify-content-between">
                <button class="btn btn-outline-primary btn-lg" (click)="leavePractice()">
                    <fa-icon [icon]="iconExit"></fa-icon> Abandonar
                </button>
                <button class="btn btn-primary btn-lg" (click)="goToActivities()">
                    Comenzar <fa-icon [icon]="iconNext"></fa-icon></button>
            </div>
        </div>
    </div>
</div>