<body data-aos="fade-left">
    <!--Orden-->
    <div class="row mt-4 mb-4">
        <h4><b>Completa el siguiente párrafo</b></h4>
    </div>

    <!--Orden-->
    <div class="row d-flex mb-4">
        <div class="col d-flex align-items-center">
            <p>Escribe la palabra que hace falta en el párrafo que se presenta a continuacón:</p>
        </div>
    </div>

    <!--Párrafo-->
    <div class="row d-flex mb-4">
        <form [formGroup]="completeWordForm" class="col d-flex align-items-center">
            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt delectus nostrum vel explicabo. Error
                doloremque soluta dignissimos! orem ipsum dolor sit amet consectetur adipisicing elit. Sunt delectus
                nostrum vel explicabo. Soluta dignissimos! <input type="text" class="fs-6" formControlName="wordToComplete" (blur)="enableButton()"> ".</p>
        </form>
    </div>

    <br/>
    <!--Pista-->
    <div class="row d-flex mb-4">
        <div class="col d-flex align-items-center">
            <p><b class="help">Pista: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt delectus nostrum vel explicabo. Error
                doloremque soluta dignissimos! orem ipsum dolor sit amet consectetur adipisicing elit. Sunt delectus
                nostrum vel explicabo. Error
                doloremque soluta dignissimos!</p>
        </div>
    </div>
</body>