<body class="row">
    <div class="container d-flex justify-content-center">
        <div class="box" data-aos="flip-left">
            @if(typeLocal==1){
                <h3 class="text-center mb-3">Términos y condiciones</h3>
            }
            @else{
                <h3 class="text-center mb-3">Política de privacidad</h3>
            }
            <form>
                <!--Términos y condiciones-->
                <div class="row mb-5 terms-and-conditions">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quis itaque sed cumque alias
                        quod eos et ut repellat architecto, consequuntur incidunt error facere, laborum doloribus
                        corrupti quia officiis reiciendis culpa vel aliquid modi. Necessitatibus aliquam quasi facilis
                        cupiditate dignissimos molestiae eaque neque aspernatur, odio, ratione nemo enim eveniet rem
                        consequatur! Odio optio soluta reprehenderit asperiores voluptas tenetur facere, distinctio,
                        alias perspiciatis eaque nam atque obcaecati harum error veritatis esse vel. Architecto eligendi
                        quo id voluptatibus nam, natus libero doloribus qui, voluptas non voluptatem asperiores
                        reprehenderit, cupiditate ut ea animi. Laborum error voluptates deleniti in enim eveniet at,
                        quos officia eos dolore ducimus! Incidunt, eum officiis quisquam commodi perferendis laboriosam
                        iure voluptatem praesentium suscipit temporibus sint deleniti ab soluta laborum ad doloremque
                        aut omnis eos. Veniam quibusdam tenetur qui placeat repellendus molestias. Earum, dolores non!
                        Deserunt fugiat quia eum minima tempore quos libero in enim sint blanditiis eius, quis
                        praesentium soluta reprehenderit? Doloremque deserunt delectus eveniet accusamus ipsam vero
                        voluptate, consequatur perspiciatis atque praesentium nulla optio magni illum iste, quo, cumque
                        at placeat. Aspernatur sunt veritatis qui neque doloremque rem optio exercitationem tempora
                        rerum nobis, nihil molestias sint reiciendis, obcaecati tenetur pariatur impedit, eius
                        temporibus ex natus beatae quasi ipsa?
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quis itaque sed cumque alias
                        quod eos et ut repellat architecto, consequuntur incidunt error facere, laborum doloribus
                        corrupti quia officiis reiciendis culpa vel aliquid modi. Necessitatibus aliquam quasi facilis
                        cupiditate dignissimos molestiae eaque neque aspernatur, odio, ratione nemo enim eveniet rem
                        consequatur! Odio optio soluta reprehenderit asperiores voluptas tenetur facere, distinctio,
                        alias perspiciatis eaque nam atque obcaecati harum error veritatis esse vel. Architecto eligendi
                        quo id voluptatibus nam, natus libero doloribus qui, voluptas non voluptatem asperiores
                        reprehenderit, cupiditate ut ea animi. Laborum error voluptates deleniti in enim eveniet at,
                        quos officia eos dolore ducimus!
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quis itaque sed cumque alias
                        quod eos et ut repellat architecto, consequuntur incidunt error facere, laborum doloribus
                        corrupti quia officiis reiciendis culpa vel aliquid modi. Necessitatibus aliquam quasi facilis
                        cupiditate dignissimos molestiae eaque neque aspernatur, odio, ratione nemo enim eveniet rem
                        consequatur! Odio optio soluta reprehenderit asperiores voluptas tenetur facere, distinctio,
                        alias perspiciatis eaque nam atque obcaecati harum error veritatis esse vel. Architecto eligendi
                        quo id voluptatibus nam, natus libero doloribus qui, voluptas non voluptatem asperiores
                        reprehenderit, cupiditate ut ea animi. Laborum error voluptates deleniti in enim eveniet at,
                        quos officia eos dolore ducimus!</span>
                </div>

                 <!--Botón para iniciar sesión-->
                 <div class="content-buttons">
                    <button type="button" class="mb-3 btn btn-lg btn-primary w-100 fs-6" (click)="goToBack()">
                        <fa-icon [icon]="iconBack"></fa-icon> Atrás</button>
                </div>
            </form>
        </div>
    </div>
</body>