<body>
    <div class="row">
        <div class="content-image d-flex align-items-center justify-content-center">
            <img src="../../../../../assets/positions.svg" alt="positions" class="img-fluid" width="20%">
        </div>
        <div class="content-title text-center">
            <h4 class="title">¡Este es el top 10 de usuarios en Poliword!</h4>
        </div>
    </div>

    <div class="row mt-3 container-table">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <th style="width: 20px;" class="text-num"><b>1</b></th>
                        <td style="width: 50px;">
                            <div class="profile-image">
                                <img src="../../../../../assets/chat-bot-profile.svg">
                            </div>
                        </td>
                        <td data-bs-toggle="mensaje" title="Jordan Vera" class="text">Jordan Vera</td>
                        <td style="text-align: right;" class="text">600 puntos</td>
                    </tr>
                    <tr>
                        <th style="width: 20px;" class="text-num"><b>1</b></th>
                        <td style="width: 50px;">
                            <div class="profile-image">
                                <img src="../../../../../assets/chat-bot-profile.svg">
                            </div>
                        </td>
                        <td data-bs-toggle="mensaje" title="Jordan Vera" class="text">Jordan Vera</td>
                        <td style="text-align: right;" class="text">600 puntos</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</body>
